<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.eddy.bookworm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.BookwormApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_bookworm_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>

        <activity
            android:name=".categories.CategoriesActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".books.list.BooksListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".categories.CategoriesActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".categories.CategoriesActivity"/>
        </activity>
        <activity
            android:name=".books.detail.BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".books.list.BooksListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".books.list.BooksListActivity"/>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".books.list.BookmarksActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".books.list.BooksListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".books.list.BooksListActivity"/>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".categories.CategoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".categories.CategoriesActivity"/>
        </activity>
        <activity android:name=".AllowUsageReportsActivity">
        </activity>
        <activity android:name=".PrivacyPolicyActivity">
        </activity>
    </application>

</manifest>